<div class="card-item">
    <div class="row align-items-center">
        <div class="col-md-6 col-lg-4">
            <div class="card-image">
                {% if employer.logo %}
                    <img src="{{ employer.logo.url }}" alt="{{ employer.short_name }}">
                {% else %}
                    <img src="https://fakeimg.pl/200x100/" alt="NO LOGO">
                {% endif %}
            </div>
        </div>
        <div class="col-md-3 col-lg-5">
            <div class="card-vacancy-title">
                <a href="{% url 'orgs:detail' employer.id %}">{{ employer.short_name }}</a>
            </div>
            {{ employer.city.name }}
        </div>
        <div class="col-md-3 col-lg-3">
            <div class="card-salary">
                Вакансий: {{ employer.get_vacancy_count }}
            </div>
            {% if employer.get_vacancy_count %}
                <a href="{% url 'vacancies:list' %}{{ employer.pk }}/" class="btn btn-warning">Список вакансий</a>
            {% endif %}
        </div>
    </div>
</div>