<h3>{{ employer.short_name }}</h3>
<p>
{% if employer.logo %}
    <img src="{{ employer.logo.url }}" alt="{{ employer.shot_name }}">
{% endif %}
</p>
{% if user.is_authenticated %}
<button
    type="button"
    class="btn btn-outline-secondary"
    data-toggle="modal"
    data-target="#dialogs-modal"
    data-opponent="{{ employer.user.id }}"
>
    Оставить сообщение
</button>
{% endif %}
<p>
    Полное наименование: {{ employer.name }}<br>
    ИНН: {{ employer.inn }}<br>
    Город: {{ employer.city.name_with_region }}<br>
    {% if employer.site %}
        Сайт: <a href="http://{{ employer.site }}">{{ employer.site }}</a><br>
    {% endif %}
    Телефон: {{ employer.phone }}<br>
    Эл. почта: <a href="mailto:{{ employer.email }}">{{ employer.email }}</a><br>
</p>