<div class="side-panel-block grey-bg">
    <h5>Размещайте <br>
        вакансии</h5>
    <div class="text my-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga officia porro tempora. Amet at cupiditate ea eveniet ex impedit iusto maiores minima nemo neque nihil odio, possimus, qui, sed suscipit?
    </div>
    <button type="button" class="btn btn-warning">Разместить вакансию</button>
</div>
<div class="side-panel-block grey-bg">
    <h5>Подписка на <br>
        рассылку</h5>
    <div class="text my-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga officia porro tempora. Amet at cupiditate ea eveniet ex impedit iusto maiores minima nemo neque nihil odio, possimus, qui, sed suscipit?
    </div>
    <input type="email" placeholder="Введите вашу почту" class="w-100 mb-3">
    <button type="button" class="btn btn-warning">Подписаться</button>
</div>
