<div class="card my-3">
    <div class="card-header">{{ employer.short_name }}</div>
    <div class="card-body">
        <h5 class="card-title">
            {{ employer.city.name_with_region }}
        </h5>

        {% if employer.inn %}
        <div class="card-subtitle mb-2 text-muted">
            ИНН: {{ employer.inn }}
        </div>
        {% endif %}

        {% if employer.site %}
        <div class="card-subtitle mb-2 text-muted">
            ИНН: {{ employer.site }}
        </div>
        {% endif %}

        {% if employer.phone %}
        <div class="card-subtitle mb-2 text-muted">
            ИНН: {{ employer.phone }}
        </div>
        {% endif %}

        {% if employer.email %}
        <div class="card-subtitle mb-2 text-muted">
            ИНН: {{ employer.email }}
        </div>
        {% endif %}

        <a href="{% url 'orgs:orgs_detail' pk=orgs.id %}" class="card-link">Подробнее...</a>

    </div>
</div>