{% load static %}

<div class="footer-bg-container">
    <div class="cont-width-block">
        <div class="row">
            <div class="col-xl-8">
                <div class="row">
                    <div class="col-xs-12 col-lg-4">
                        <div class="footer-logo-main-text">
                            bewelder.ru
                        </div>
                        <div class="footer-logo-secondary-text">
                            поиск работы в области сварки
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <ul class="footer-list">
                            <li class="footer-list-item">Соискателям</li>
                            <li class="footer-list-item">Добавить резюме</li>
                            <li class="footer-list-item"> Поиск вакансий</li>
                            <li class="footer-list-item">Каталог компаний</li>
                            <li class="footer-list-item">Вакансии</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <ul class="footer-list">
                            <li class="footer-list-item">Работодателям</li>
                            <li class="footer-list-item">Разместить вакансии</li>
                            <li class="footer-list-item">Услуги и цены</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <ul class="footer-list">
                            <li class="footer-list-item">Информация</li>
                            <li class="footer-list-item">О bewelder.ru</li>
                            <li class="footer-list-item">Контакты</li>
                            <li class="footer-list-item">Связаться с нами</li>
                            <li class="footer-list-item">Реклама на сайте</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <ul class="footer-list">
                            <li class="footer-list-item">Работа</li>
                            <li class="footer-list-item">В другом городе</li>
                            <li class="footer-list-item">Вахта</li>
                            <li class="footer-list-item">Полный день</li>
                            <li class="footer-list-item">Командировки</li>
                            <li class="footer-list-item">С аттестацией НАКС</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-md-0 offset-lg-4 col-lg-8">
                        <div class="footer-menu-items-text">
                            Размещайте
                            вакансии на bewelder.ru
                        </div>
                        <div class="footer-menu-items-text">
                            Ваше объявление о поиске работника увидят тысячи людей, занятых в области сварочного
                            производства и смежных отраслях промышленности всех направлений: сварщики, монтажники,
                            прорабы,
                            механики, мастера, технологи, бригадиры, инженеры, дефектоскописты, руководители служб и
                            другие
                            специалисты по сварке, контролю, диагностике, производству и т.п.
                        </div>
                    </div>
                </div>
                <hr class="footer-horizontal-line">
                <div class="row">
                    <div class="col-xl-2">
                        <div class="footer-menu-items-text">
                            &copy;2018 bewelder.ru
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="footer-menu-items-text">
                            Пользовательское соглашение
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-4">

                <div class="footer-magazine-area d-flex align-items-center justify-content-center flex-row flex-xl-column p-2">
                    <img class="footer-magazine-image" src="{% static 'img/footer-magazine-image.png' %}" alt="Журнал Сварка и Диагностика"><br>
                    <div class="container">
                        Научно-технический и производственный журнал по сварке, контролю и диагностике
                        <strong>www.svarka.naks.ru</strong>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>