{% load static %}
<div class="cont-width-block">
    <div class="row">
        <div class="col-lg-3">
            <div class="top-header-logo"><img src="{% static 'img/BEWELDER_RU_logo.png' %}" alt="bewelder_logo"></div>
        </div>
        <div class="col-lg-1">Работа в Москве</div>
        <div class="col-lg-2">Поле поиск</div>
        <div class="col-lg-2">Точный поиск</div>
        <div class="col-lg-2">Личный кабинет</div>
        <div class="col-lg-2">Регистрация</div>
    </div>
</div>