{% extends 'mainapp/base.html' %}

{% block content %}

<div class="cont-width-block">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-arrow-left"></i></a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-arrow-right"></i></a></li>
    </ul>
    </nav>

    <div class="row">
        <div class="col-lg-8">
            {% for vacancy in vacancies %}
            <div class="card-item">
                <div class="row align-items-center">
                    <div class="col-md-6 col-lg-4">
                        <div class="card-image">
                            <img src="{{ vacancy.employer.logo.url }}" alt="{{ vacancy.employer.name }}">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-5">
                        <div class="card-vacancy-title">
                            {{ vacancy.title }}
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <div class="card-salary">
                            от {{ vacancy.salary_min }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-4">
            <div class="contianer">
                Side-panel will be here...
            </div>
        </div>
    </div>

    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-arrow-left"></i></a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-arrow-right"></i></a></li>
    </ul>
    </nav>
</div>





{% endblock %}