$black: rgb(33, 37, 41);
$grey: rgb(206, 212, 218);

.side-panel {
    .grey-bg {
        background-color: #f8f8f8;
    }
    .vacancy-in-city {
        .grey {
            color: #7d7d7d;
            font-size: 12px;
        }
        .title {
            font-size: 16px;
            font-weight: 500;
        }
        .city {
            font-size: 14px;
        }
        .row {
            padding-bottom: 20px;
        }
        .vacancy {
            font-size: 14px;
            font-weight: 500;
        }
        .salary {
            font-size: 16px;
        }
        .vacancy-block {
            text-decoration: none;
            color: $black;
        }
        #search-result {
            position: absolute;
            display: none;
            background: #fff;
            border: 1px solid $grey;
            border-top: none;
            padding: 0;
            padding-bottom: 1rem;
            li {
                list-style: none;
                padding: 0 1rem;
            }
            li:hover {
                background-color: #ffc107;
            }
        }
    }
    .side-panel-block {
        border-radius: 3px;
        margin-bottom: 12px;
        padding: 24px;
        .h5 {
            font-size: 20px;
            font-weight: bold;
        }
        .text {
            color: #414141;
            font-size: 14px;
        }
    }
}