{% extends 'mainapp/base.html' %}

{% block content %}
<div class="container my-5">
    <h2>Поиск</h2>

    <form method="get" action="." class="my-5">
        {% include 'includes/bootstrap_form.html' %}
        <input type="submit" value="Искать" class="btn btn-success">
    </form>

    {% if query %}
        <h3>Результаты поиска</h3>

        {% for result in page.object_list %}
            {% if 'resume' in result|lower %}
                {% with result.object as resume %}
                    {% include 'components/resume_short.html' %}
                {% endwith %}
            {% elif 'vacancy' in result|lower %}
                {% with result.object as vacancy %}
                    {% include 'vacancies/includes/vacancy_card.html' %}
                {% endwith %}
            {% else %}
                {{ result }}
            {% endif %}
        {% empty %}
            <p>Ничего не найдено.</p>
        {% endfor %}

        {% if page.has_previous or page.has_next %}
            <div class="my-5">
                {% if page.has_previous %}
                    <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}{% if request.GET.models %}&amp;models={{request.GET.models}}{% endif %}">&laquo; Предыдущие</a>
                {% endif %}
                &#9679;
                {% if page.has_next %}
                    <a href="?q={{ query }}&amp;page={{ page.next_page_number }}{% if request.GET.models %}&amp;models={{request.GET.models}}{% endif %}">Следующие &raquo;</a>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}

</div>
{% endblock %}