<h3>{{ resume.user.get_full_name|title }}</h3>
{% if user.is_authenticated %}
<button
    type="button"
    class="btn btn-outline-secondary"
    data-toggle="modal"
    data-target="#dialogs-modal"
    data-opponent="{{ resume.user.id }}"
>
    Оставить сообщение
</button>
{% endif %}
<p>
    Должность: {{ resume.position }}<br>

    {% if resume.salary %}
    Зарплата:
    {{ resume.salary }}<br>
    {% endif %}

    {% if resume.experience %}
    Стаж: {{ resume.experience_str }}<br>
    {% endif %}

    {% if resume.city %}
    Город: {{ resume.city|title }}<br>
    {% endif %}
</p>

{% if resume.about %}
<h4>О себе</h4>
<p>
    {{ resume.about|linebreaks }}
</p>
{% endif %}