{% extends 'mainapp/base.html' %}

{% block content %}
<div class="m-5">
        <h3>Изменение пароля</h3>
        <p>В целях безопасности, пожалуйста, введите свой старый пароль, затем введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</p>
        <form method="post">
            {% csrf_token %}
            {% include 'includes/bootstrap_form.html' %}
            <button type="submit" class="btn btn-success">Изменить пароль</button>
        </form>
    </div>
{% endblock %}