{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col-lg-8">
            {% include 'orgs/includes/employer_full.html' %}
            <a href="{% url 'orgs:list' %}" class="btn btn-primary">Все работодатели</a>
            <a href="{% url 'vacancies:list' %}{{ employer.pk }}/" class="btn btn-warning">Вакансии работодателя</a>
        </div>
        <div class="col-lg-4 side-panel">
            {% include 'orgs/includes/side-panel.html' %}
        </div>
    </div>
</div>

{% endblock %}
