{% extends 'mainapp/base.html' %}
{% block content %}

<div class="cont-width-block">

    {% include 'orgs/includes/pagination.html' %}

    <div class="row">
        <div class="col-lg-8">
            {% for employer in employer_list %}
            <div class="card-item">
                <div class="row align-items-center">
                    <div class="col-md-6 col-lg-4">
                        <div class="card-image">
                            <img src="{{ employer.logo }}" alt="{{ employer.short_name }}">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-5">
                        <div class="card-vacancy-title">
                            {{ employer.short_name }}
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <div class="card-salary">
                            Вакансий: {{ employer.get_vacancy_count }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-4">
            <div class="contianer">
                Side-panel will be here...
            </div>
        </div>
    </div>

    {% include 'orgs/includes/pagination.html' %}

</div>

{% endblock %}
