{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

<div class="cont-width-block mb-5">

    <h3>{{ employer.short_name }}</h3>

    <p>
    {% if employer.logo %}
        <img src="{{ employer.logo.url }}" alt="{{ employer.shot_name }}">
    {% endif %}
    </p>

    <p>
        Полное наименование: {{ employer.name }}<br>

        ИНН: {{ employer.inn }}<br>

        Город: {{ employer.city.name_with_region }}<br>

        {% if employer.site %}
            Сайт: <a href="http://{{ employer.site }}">{{ employer.site }}</a><br>
        {% endif %}

        Телефон: {{ employer.phone }}<br>

        Эл. почта: <a href="mailto:{{ employer.email }}">{{ employer.email }}</a><br>
    </p>

    <input type=button value="Назад" onClick="javascript:history.go(-1);" class="btn btn-primary">

</div>

{% endblock %}
