
<div class="container filter-panel-bg p-3">
  <h4>Фильтр вакансий</h4>
  <p >Выберите вакансии по параметрам</p>
  <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="AttNaksCheck">
    <label class="form-check-label" for="AttNaksCheck">
      С аттестацией НАКС
    </label>
  </div>
  <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1">
      С аттестацией НАКС
    </label>
  </div>
</div>