[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User={{ ansible_user }}
Group={{ ansible_user }}
WorkingDirectory={{ site_root }}
ExecStart={{ gunicorn_bin }} --workers 3 --bind unix:/tmp/gunicorn.sock bewelder_redesign.wsgi

[Install]
WantedBy=multi-user.target