{% extends 'mainapp/base.html' %}

{% block content %}
<div class="container my-5">
    <h3>{{ resume.user.get_full_name|title }}</h3>
    <p>
        Должность: {{ resume.position }}<br>

        {% if resume.salary %}
        Зарплата:
        {{ resume.salary }}<br>
        {% endif %}

        {% if resume.experience %}
        Стаж: {{ resume.experience_str }}<br>
        {% endif %}

        {% if resume.city %}
        Город: {{ resume.city|title }}<br>
        {% endif %}
    </p>

    {% if resume.about %}
    <h4>О себе</h4>
    <p>
        {{ resume.about|linebreaks }}
    </p>
    {% endif %}
    <input type=button value="Назад" onClick="javascript:history.go(-1);" class="btn btn-primary">
</div>
{% endblock %}