{% extends 'mainapp/base.html' %}

{% block content %}
<div class="container my-5">
    <h3 class="mb-5">Резюме</h3>
    {% include 'components/resume_search_form.html' %}
    {% for resume in resumes %}
        {% include 'components/resume_short.html' %}
    {% empty %}
    <p>Нет резюме</p>
    {% endfor %}


    {% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="{% url 'resumes:resume_list' %}?page={{ page_obj.previous_page_number }}"><i
                    class="fa fa-arrow-left"></i></a></li>
        {% endif %}
        {% for page in page_obj.paginator.page_range %}
        {% if page == page_obj.number %}
        <li class="page-item"><a class="page-link text-dark" href="{% url 'resumes:resume_list' %}?page={{ page }}">{{ page }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="{% url 'resumes:resume_list' %}?page={{ page }}">{{ page }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="{% url 'resumes:resume_list' %}?page={{ page_obj.next_page_number }}"><i
                    class="fa fa-arrow-right"></i></a></li>
        {% endif %}
    </ul>
    {% endif %}
</div>
{% endblock %}